<fieldset>
  <div class="row">
    <div class="field guest-name">
      <label>Guest's Name*</label>
      <% if @guest.nil? %>
        <input name="guest_names[]" required>
      <% else %>
        <input <%= name_value(:guest_name) %> required>
      <% end %>
    </div>
    <% if @guest.nil? %>
      <button class="button addGuest">+ guest</button>
      <button class="button removeGuest">- guest</button>
    <% end %>
  </div>
  <div class="row">
    <div class="field">
      <label>Visiting on*</label>
      <input type='date' <%= name_value :visiting_on, :date %> placeholder="<%=Date.today.to_s%>" required>
    </div>
    <div class="field">
      <label class='mid'>, optionally until</label>
      <input type='date' <%= name_value :visiting_until, :date %> placeholder="<%=Date.today.to_s%>">
    </div>
  </div>
  <div class="row">
    <div class="field">
      <input id="lunch" type='checkbox' <%= name_value :lunch, :checkbox %>>
      <label for="lunch">Lunch? <em>(please give at least 2 days notice)</em></label>
    </div>
  </div>
</fieldset>
<fieldset>
  <div class="field">
    <label>Your Name*</label>
    <input <%= name_value :herokai_name %> required>
  </div>
  <div class="field">
    <input type='checkbox' <%= name_value :notify_hipchat, :checkbox %>>
    <label>Notify Hipchat</label>
  </div>
  <div class="field">
    <input type='checkbox' <%= name_value :notify_gchat, :checkbox %>>
    <label>Notify GChat</label>
  </div>
</fieldset>
<fieldset>
  <div class="field">
    <label>Notes: <i>please add approximate arrival time</i></label>
    <textarea name="notes"><%=h @guest[:notes] if @guest%></textarea>
  </div>
</fieldset>
<input type="submit" class='submit button' value="Submit">
