<section class='overview'>
  <h1>Overview</h1>
  <% @overview.each do |day| %>
    <%= "<b><a href='?day=#{day[:visiting_on]}'>#{day[:visiting_on].strftime('%a %b %d')}</a>:</b>" %>
    <% if day[:total] > 0 %>
      <%= "#{day[:total]} visiting (#{day[:lunch]} for lunch)" %>
    <% else %>
      <%= "<small>nobody</small>" %>
    <% end %>
    <br>
  <% end %>
</section>

<h1><%=h @day %></h1>
<table>
  <tr>
    <th>guest</th>
    <th>arrived</th>
    <th>lunch/nda</th>
    <th>for</th>
    <th>notify</th>
    <th>added</th>
    <th>notes</th>
</tr>
<% @day_guests.each do |g| %>
  <tr>
    <td><a href="/guests/<%= g[:id] %>"><%=h g[:guest_name] %></a></td>

    <% if g[:arrived_at] %>
      <td class='date' title="<%=h g[:arrived_at] %>">
        <%=h g[:arrived_at] %>
      </td>
    <% else %>
    <td>
      <form action="/guests/<%= g[:id] %>/check_in" method='post'>
        <input type='submit' value='check in' class='button'>
      </form>
    </td>
    <% end %>

    <td> <%= "lunch" if g[:lunch] %> <%= "nda" if g[:nda] %></td>
    <td><%=h g[:herokai_name] %></td>
    <td>
      <%= "hipchat" if g[:notify_hipchat] %>
      <%= "gchat" if g[:notify_gchat] %>
      <%= "sms #{h g[:notify_sms]}" if g[:notify_sms] && ! g[:notify_sms].empty? %>
    </td>
    <td class='date' title="<%=h g[:created_at] %>">
      <%=h g[:created_at] %>
    </td>


    <td class='last'><%=h g[:notes] %></td>
  </tr>
<% end %>
</table>
<script>
  var dates = document.getElementsByClassName('date');
  for(var i=0; i < dates.length; i++) {
    var el = dates[i];
    el.innerText = moment(el.innerText).calendar();
  }
</script>
